<!DOCTYPE html>
<html>
<head>
  <title>BenchBnb</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCuD0eXn7-LLxK8GV28NoZQeFEyfHWoLu8" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
